.App .container {
  background: url("https://upload.wikimedia.org/wikipedia/commons/9/94/Reflection_in_a_soap_bubble_edit.jpg");
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
  opacity: 0.8;
}

h1 {
  color: wheat;
  text-align: center;
}

footer {
  text-align: center;
  border: solid 2px skyblue;
  border-radius: 20px;
  max-width: 60%;
  display: block;
  margin: 0 auto;
  background: powderblue;
  color: slategray;
  padding: 3px;
  margin-top: 10px;
}
